* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 12px;
  max-width: 320px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid #00166e;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content__wrapper {
  margin-left: 30%;
}

.country-info_list,
.country-info_item > h2,
.country-info_item > p,
.country-item > p,
h1 {
  margin: 0;
  padding: 10px;
  font-size: 30px;
}

.country-info_item {
  display: flex;
  align-items: center;
}

.country-info_item > p {
}

.country-item {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.country-item > p {
}
